<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style type="text/css">
        .robot{
            width: 100px;
            height: 100px;
            position: absolute;
            /* margin: 0px auto 0; */
            background: yellowgreen;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <form action="">
        <input id="target" type="text">
    </form>
    <div class="robot">
        <img src="/asset/robot.jpg" />
    </div>

    <script type="text/javascript">
        $(document).keydown(function(e) {
            //var code = (e.keyCode ? e.keyCode : e.which);
            console.log(e.which);

            // height : hauteur
            // width : largeur

            var position = $(".robot").position();
            var left = position.left;
            var top = position.top;
            var right = $( window ).width(); 
            var down = $( window ).height();

            console.log("left: " + left + ' ' + "top: " + top + ' ' + "right: " + right + ' ' + "down: " + down);

            var a =12;

            switch (e.which) {
                case 37: // Left
                    if (left > 0) {
                        $(".robot").finish().animate({
                            left: "-=20"
                        });
                    }
                    break;
                case 38: // Up
                    if (top - 25 > 0) {
                        $(".robot").finish().animate({
                            top: "-=20"
                        });
                    }
                    break;
                case 39: // Right
                    if (left + 200 < right) {
                        $(".robot").finish().animate({
                            left: "+=20"
                        });
                    }
                    break;
                case 40: // Down
                    if (top + 350 < down) {
                        $(".robot").finish().animate({
                            top: "+=20"
                        });
                    }
                    break;

                default:
                    break;
            }
        });
    </script>
</body>
</html>