<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style type="text/css">
        .robot{
            width: 100px;
            height: 100px;
            position: absolute;
            /* margin: 0px auto 0; */
            background: yellowgreen;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <form action="">
        <input id="target" type="text">
    </form>
    <div class="robot" id="robot1">
        <img src="/asset/robot.jpg" />
    </div>

    <div class="robot" id="robot2">
        <img src="/asset/robot.jpg" />
    </div>


    <input type="button" id="btnTop">
    <input type="button" id="btnDown">
    <input type="button" id="btnLeft">
    <input type="button" id="btnRight">

    <script type="text/javascript">
        var robot1 = '#robot1';
        var robot2 = '#robot2';

        /**
         * Permet au robot1 de bouger
         */
         $(document).keydown(function(e) {
            console.log(e.which);

            var position = $(robot1).position();
            var left = position.left;
            var top = position.top;
            var right = $( window ).width(); 
            var down = $( window ).height();
            console.log("left: " + left + ' ' + "top: " + top + ' ' + "right: " + right + ' ' + "down: " + down);

            switch (e.which) {
                case 81: // Q
                    if (left > 0) {
                        $(robot1).finish().animate({
                            left: "-=20"
                        });
                    }
                    break;
                case 90: // Z
                    if (top - 25 > 0) {
                        $(robot1).finish().animate({
                            top: "-=20"
                        });
                    }
                    break;
                case 68: // D
                    if (left + 200 < right) {
                        $(robot1).finish().animate({
                            left: "+=20"
                        });
                    }
                    break;
                case 83: // S
                    if (top + 350 < down) {
                        $(robot1).finish().animate({
                            top: "+=20"
                        });
                    }
                    break;

                default:
                    break;
            }
        });

        /**
         * Permet au robot2 de bouger
         */
        $(document).keydown(function(e) {
            console.log(e.which);

            var position = $(robot2).position();
            var left = position.left;
            var top = position.top;
            var right = $( window ).width(); 
            var down = $( window ).height();
            console.log("left: " + left + ' ' + "top: " + top + ' ' + "right: " + right + ' ' + "down: " + down);

            switch (e.which) {
                case 37: // Left
                    if (left > 0) {
                        $(robot2).finish().animate({
                            left: "-=20"
                        });
                    }
                    break;
                case 38: // Up
                    if (top - 25 > 0) {
                        $(robot2).finish().animate({
                            top: "-=20"
                        });
                    }
                    break;
                case 39: // Right
                    if (left + 200 < right) {
                        $(robot2).finish().animate({
                            left: "+=20"
                        });
                    }
                    break;
                case 40: // Down
                    if (top + 350 < down) {
                        $(robot2).finish().animate({
                            top: "+=20"
                        });
                    }
                    break;

                default:
                    break;
            }
        });
    </script>
</body>
</html>