<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style type="text/css">
        .robot{
            width: 100px;
            height: 100px;
            position: absolute;
            /* margin: 0px auto 0; */
            background: yellowgreen;
        }

        .bottom{
            padding: 3px;
            position: fixed;
            bottom: 0;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <form action="">
        <input id="target" type="text">
        <button id="btnPlay">Play</button>
    </form>
    <div class="robot" id="robot1">
        <img src="/asset/robot.jpg" />
    </div>

    <div class="bottom">
        <input type="button" id="btnTop" value="Top">
        <input type="button" id="btnDown" value="Down">
        <input type="button" id="btnLeft" value="Left">
        <input type="button" id="btnRight" value="Right">
    </div>

    <script type="text/javascript">
        /**
         * Const
         */
        const robot1 = '#robot1';
        const btnTop = '#btnTop';
        const btnDown = '#btnDown';
        const btnLeft = '#btnLeft';
        const btnRight = '#btnRight';

        /**
         * Robot
         */
        
        // console.log("left: " + left + ' ' + "top: " + top + ' ' + "right: " + right + ' ' + "down: " + down);

        /**
         * Event
         */
        $(btnLeft).on( "click", function() {
            var position = $(robot1).position();
            var left = position.left;
            var top = position.top;
            var right = $( window ).width(); 
            var down = $( window ).height();

            if (left > 0) {
                $(robot1).finish().animate({
                    left: "-=20"
                });
            }
        });

        $(btnTop).on( "click", function() {
            var position = $(robot1).position();
            var left = position.left;
            var top = position.top;
            var right = $( window ).width(); 
            var down = $( window ).height();

            if (top - 25 > 0) {
                $(robot1).finish().animate({
                    top: "-=20"
                });
            }
        });

        $(btnRight).on( "click", function() {
            var position = $(robot1).position();
            var left = position.left;
            var top = position.top;
            var right = $( window ).width(); 
            var down = $( window ).height();

            if (left + 200 < right) {
                $(robot1).finish().animate({
                    left: "+=20"
                });
            }
        });

        $(btnDown).on( "click", function() {
            var position = $(robot1).position();
            var left = position.left;
            var top = position.top;
            var right = $( window ).width(); 
            var down = $( window ).height();

            if (top + 350 < down) {
                $(robot1).finish().animate({
                    top: "+=20"
                });
            }
        });

        $(function () {
            var socket = io();

            $('#btnPlay').click(function(){
                console.log($('#target').val());
                socket.emit('message',$('#target').val());
            });

            socket.on('message', function(msg){
                console.log('message: ' + msg);
            });

            socket.on('btnLeft', function(nbJ){
                console.log('btnLeft: ' + nbJ);
                socket.emit('btnLeft',$('#target').val());                
            });

            socket.on('btnRight', function(nbJ){
                console.log('btnRight: ' + nbJ);
                socket.emit('btnRight',$('#target').val());                
            });

            socket.on('btnTop', function(nbJ){
                console.log('btnTop: ' + nbJ);
                socket.emit('btnTop',$('#target').val());                
            });

            socket.on('btnDown', function(nbJ){
                console.log('btnDown: ' + nbJ);
                socket.emit('btnDown',$('#target').val());                
            });

        });
    </script>
</body>
</html>